html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
body {
    min-height: 100%;
    border: 8px solid black;
    display: grid;
    place-items: center; /* shorthand for align-items and justify-items */
}

.content {
    border: 8px solid green;
    display: grid;
    gap: 20px;
}