:root {
    --ubuntu-font: "Ubuntu", sans-serif;
    --ubuntu-light: 300;
    --ubuntu-regular: 400;
    --ubuntu-medium: 500;
    --ubuntu-bold: 700;
  }

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    align-content: center;
    font-family: var(--ubuntu-font)
}

.login {
    border: 1px solid green;
    display: flex;
    flex-wrap: nowrap;
    justify-content:space-evenly;
    align-items: center;
    align-content: center;
    flex-direction: column;
    padding: 1rem;
}

.login-form {
    display: flex;
    justify-content:space-evenly;
    align-items:center;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;

}
.login-register {
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    align-content: center;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
}

.dashboard {
    border: 1px solid blue;
    display: flex;
    gap: 1rem;
}

.register {
    border: 1px solid yellow;
    display: flex;
    gap: 20px;
}