html, body {
    font-family: "Noto Sans", sans-serif;
}
/* body {
    min-height: 100%;
    border: 8px solid black;
    display: grid;
    place-items: center;
} */

.login {
    border: 1px solid green;
    display: grid;
    gap: 20px;
}

.dashboard {
    border: 1px solid blue;
    display: grid;
    gap: 20px;
}

.register {
    border: 1px solid yellow;
    display: grid;
    gap: 20px;
}